@font-face {
    font-family: 'Premiera';
    src:	url('/static/fonts/Premiera-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Premiera';
    src:	url('/static/fonts/Premiera-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Premiera';
    src:	url('/static/fonts/Premiera-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

body{
    margin:0;
    padding:0;
    color: #333;
    /*font-family: 'Open sans', sans-serif;*/
    font-family: monospace;
    font-size: 100%;
    text-rendering: optimizeLegibility;
}
html>body, html>body#cover {
    font-size: 17px;
}

:target {
    background-color: #e0edf170;
}

nav {
    padding: .5em 1em;
    border-bottom: 1px solid #ccc;
}
nav li {
    list-style: none;
    display: inline-block;
    padding-right: 1em;
}
nav li.file{
    font-weight: bold;
}
nav li.btn {
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8em;
}

.container {
    max-width:61.8%;
    line-height: 1.5;
    white-space: pre-wrap;
}
.container>div {
    padding: 0 11.8%;
}
.heading {
    font-weight: bold;
}
.keyword {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 .2em;
    margin-right: 1em;
    font-size: .7em;
    text-transform: lowercase;
    min-width: 1em;
    display: inline-block;
    text-align: center;
}
