<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.Name}}</title>
    {{block "header" .}}{{end}}    
    <link rel="stylesheet" href="/static/base.css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono" rel="stylesheet">
  </head>-
  <body>
    <nav>
      <li class="home"><a href="/start.txt">&#8962;</a></li>
      <li class="file">{{.Name}}</li>
      <li class="btn">New</li>
      <li class="btn"><a href="/edit{{.Name}}">Edit</a></li>
    </nav>
    <div class="container">
      {{.Page}}
    </div>
    <script>
      const lines = document.querySelectorAll('.line');
      for (var i=0; i<lines.length; i++) {
	  lines[i].addEventListener('click', event => {
	      if (event.target.className !== "line")
		  return;
	      var line = parseInt(event.target.id);
	      if (isNaN(line)) {
		  line = 1;
	      } else {
		  line--;
	      }
              document.location = "/edit" + document.location.pathname + "#" + line;
	  });
      }
    </script>
  </body>
</html>
